body {
    margin: 0;
    font-family: "Handlee";
}

#backdrop {
    height:100%;
    width: 100%;
    position: fixed;
    z-index: 5;
    background-color: rgba(207, 202, 202, 0.5);
    display: none;
}

#rules-window {
    height: auto;
    width: 40%;
    max-width: 600px;
    position: absolute;
    left: 30%;
    top: 20%;
    z-index: 10;
    border: 1px solid #229722;
    background-color: white;
    display: none;

    p {
        text-align: center;
        font-size: 1.2rem;
        margin: 15px;
    }

    button {
        position: relative;
        left:40%;
        width: 50px;
        margin: 15px;
    }
}

header {
    display: grid;
    grid-template-columns: 1fr 1.1fr 1fr;
    align-items: center;
    height: 4rem;
    background-color: #229722;
    color: white;
    font-family: "Handlee";   
    margin-bottom: 1rem;
    p {
        grid-column-start: 2;
        margin: 10px;
        font-size: 2rem;
        text-align: center;
    }
}


.level-block {
    margin: 10px 10px;
    grid-column-start: 3;
    text-align: right;
}

select {
    font-family: "Handlee";
    font-size: 1rem;
}

button {
    background-color: #e62142;
    box-shadow: 1px 1px 1px 1px rgba(207, 202, 202, 0.5);
    color: white;
    border: 0.5px solid #c93f56;
    border-radius: 10%;
    padding: 5px;
    margin-left: 10px;
    font-family: "Handlee";
    font-size: 1rem;
    cursor: pointer;

    &:hover,
    &:active {
    background-color: #f53b5a;
    }

    &:focus {
        outline: none;
    }
}


#greet {
    text-align: center;
}

#memo-greet {
    height: 200px;
}

#memo-greet-text {
    font-size: 1.5rem;
}

#helper {
    text-align: center;
    display: none;
    cursor: pointer;
    animation: helper-attention 800ms;
}

#memo-helper {
    height: 80px;
    display: inline-block;
}

#memo-helper-text {
    font-size: 1.2rem;
    display: inline-block;
    height: 80px;
    vertical-align: top;
    white-space: pre;
}
#cards {
    display: grid;
    grid-template-columns: repeat(4, 130px);
    justify-content: center;
    margin-bottom: 1rem;
}

.card {
     width: 120px;
     height: 120px;
     border: 1px solid #838282;
     box-shadow: 0.5px 0.5px 0.5px 1px #cfcaca ;
     margin: 5px;
     cursor: pointer;
     animation: card-rotation-color 600ms ease-in;
 }

 .backside {
    background-color: #756d6d;
    animation: card-rotation 600ms ease-out;
 }

 .red-card {background-color: #e43838;}

 .yellow-card {background-color: #eede02;}

 .blue-card {background-color: #5e5edf;}

 .pink-card {background-color: #da929e;}

 .green-card {background-color: #26a322;}

 .lightblue-card {background-color: #70badd;}

 .brown-card {background-color: #4d2c1e;}
 
 .darkgreen-card {background-color: #184916;} 

 .purple-card {background-color: #7e1c8b;}

 .lime-card {background-color: #bddb0f;}

 .green0-card {background-color: #3e7e25;}

 .green1-card {background-color: #88e90a;}

 .green2-card {background-color: #3bc518;}

 .green3-card {background-color: #cadf56;}

 .green4-card {background-color: #4e571a;}

 .green5-card {background-color: #a6d897;}

 .green6-card {background-color: #5e662e;}

 .green7-card {background-color: #82970b;}

 .green8-card {background-color: #5bc45b;}

 .green9-card {background-color: #20c256;}

 @keyframes card-rotation {
     0% {
         transform: rotateY(0deg)
     }
    100% {
        transform: rotateY(180deg)
    }
 }

 @keyframes card-rotation-color {
    0% {
        transform: rotateY(0deg);
        filter: brightness(0.2);
    }
   100% {
       transform: rotateY(-180deg);
       filter: brightness(1);
   }
}

@keyframes helper-attention {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    80% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(0.95);
   }
}

@media (max-width: 680px) {
    .card {
        width: 80px;
        height: 80px;
    }
    #cards {
        grid-template-columns: repeat(4, 90px) !important;
    }
    header {
        grid-template-columns: 1fr 1fr;  

        p {
            text-align: right;
            grid-column-start: 1;
        }
    }
    
    .level-block {
        grid-column-start: 2;
    }

    #rules-window {
        width: 80%;
        left: 10%;
        top: 10%;
        z-index: 10;

        button {
            left: 75%;
        }
    }  

}

@media (max-width: 480px) {
    .card {
        width: 50px;
        height: 50px;
    }
    #cards {

        grid-template-columns: repeat(4, 60px) !important;

    }

    header {
        grid-template-columns: 1fr 1.2fr;  
    }
    
    header p {
        text-align: left;
        font-size: 1.2rem;
    }
    
    .level-block {
        font-size:0.8 rem
    }
    label {
        display: none;
    }
    select {
        font-size:0.8 rem
    }

    button {
        font-size:0.8 rem
    }

}